<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome! {{page_title}}</title>
       
<style>

#apply {
	display: inline;
	width: 60vw;
	max-width: 300px;
	margin: 0 auto;
	background-color: slateblue;
	border-radius: 2px;
	font-size: 1em;
	line-height: 2.5em;
	text-align: center;
	border: 0;
	color:#fff;
}

 

form {
	
  color:#fff;   
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background-color: black;
}
</style>
    </head>
    <body>
        




        <form method="post" enctype="multipart/form-data" action="/upload">

 <input type="file" name="file" id="file_upload" accept=".txt" />

<button type="submit" name="submit" id="apply" > Upload </button>
	
</form> 
    </body>
</html>
